.intro {
  margin: 0;
  padding: 0;
  background-image: url(../images/Background/TLoU\ P1\ v2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 2.7%;
}

.Introduction {
  font-family: Oswald-Bold;
  color: #ffffff;
  margin-left: 13%;
  margin-right: 45%;
  margin-bottom: 3%;
  padding-top: 40px;
  font-size: 300%;
}

.IntroText {
  font-family: Roboto-Regular;
  color: #ffffff;
  margin-left: 13%;
  margin-right: 60%;
  padding-top: 10px;
  font-size: 150%;
}
/*Контент Л*/
.containerL {
  margin-left: 13%;
  margin-right: 13%;
  padding-top: 25px;
  display: grid;
  grid-template-columns: auto 1fr;
  /*Анимация появления*/
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
/*Анимация появления*/
.containerL.visible {
  opacity: 1;
  transform: translateY(0);
}
.containerL h2 {
  color: #ffd060;
}
.imageL {
  width: 600px;
  height: auto;
  margin-right: 20px;
}
.textL {
  font-size: 120%;
  font-family: Roboto-Regular;
  color: #ffffff;
}
/*Контент Р*/
.containerR {
  margin-left: 13%;
  margin-right: 13%;
  padding-top: 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: auto 1fr;
  /*Анимация появления*/
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
/*Анимация появления*/
.containerR.visible {
  opacity: 1;
  transform: translateY(0);
}
.containerR h2 {
  color: #ffd060;
}
.imageR {
  width: 600px;
  height: auto;
  margin-left: 20px;
}
.textR {
  font-size: 120%;
  font-family: Roboto-Regular;
  color: #ffffff;
}