* {/*Чтобы не было дефолтных отступов от браузеров*/
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; /*Для плавного перемещения наверх*/
}

@font-face {/*Oswald-Bold*/
  font-family: "Oswald-Bold";
  src: url(../fonts/Oswald/static/Oswald-Bold.ttf);
}

@font-face {/*Roboto-Regular*/
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {/*The Last Of Us*/
  font-family: "The Last Of Us";
  src: url(../fonts/the-last-of-us/The\ Last\ Of\ Us.ttf);
}

body {
  background-image: url(../images/Background/BlackWall.jpg);
  background-repeat: no-repeat;/*Чтобы картинка не повторялась*/
  background-size: cover;/*Чтобы оно полностью покрывало задний фон элемента*/
}

a {
  color: initial;/*Даёт возможность дать тот цвет, который ты хочешь*/
  text-decoration: none;/*Убирает подчеркивания у ссылок*/
}

a:link {/*Ссылка обычная*/
  color: #565656;
  transition-duration: 0.3s;/*Время плавного переключения цвета*/
}

a:visited {/*Ссылка посещёння*/ 
  color: #565656;
}

a:hover {/*Ссылка при наведении*/ 
  color: #ffffff;
  transition-duration: 0.3s;/*Время плавного переключения цвета*/
}

ul {
  list-style-type: none;/*Убирает у списка точки слева*/
}

li {
  display: inline;/*Список в горизонтальном положении*/
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.main {
  background-color: rgb(25, 25, 25);
  padding-bottom: 10px; /*Внутренний отступ снизу элемента*/
}

.mainLogo {
  font-family: The Last of Us;
  color: whitesmoke;
  text-align: center;
  font-size: 700%;
  padding: 20px;
}

.mainMenu {
  font-family: Roboto-Regular;
  text-align: center;
  font-size: 140%;
  margin: 20px;
}

#scrollToTopBtn {
  display: none; /* Скрыть кнопку по умолчанию */
  position: fixed; /* Фиксированное положение */
  bottom: 95px; /* Отступ снизу */
  left: 30px; /* Отступ слева */
  z-index: 99; /* Чтобы кнопка была поверх других элементов */
  border: none; /* Убрать границу */
  outline: none; /* Убрать контур */
  background-color: rgb(25, 25, 25); /* Цвет фона */
  color: #ffffff; /* Цвет текста */
  cursor: pointer; /* Изменить курсор при наведении */
  padding: 15px; /* Внутренний отступ */
  border-radius: 50%; /* Сделать кнопку круглой */
  font-size: 18px; /* Размер текста */
  width: 50px; /* Ширина кнопки */
  height: 50px; /* Высота кнопки */
  display: flex; /* Для центрирования стрелки */
  align-items: center; /* Вертикальное центрирование */
  justify-content: center; /* Горизонтальное центрирование */
  transition: background-color 0.3s; /* Плавное изменение цвета */
}

#scrollToTopBtn:hover {
  background-color: #ffd060; /* Цвет фона при наведении */
}

@keyframes fadeIn { /*Правило CSS и название анимации*/
  from { opacity: 0; } /*Начальное состояние анимации(0%)*/
  to { opacity: 1; } /*Конечное состояние анимации (100%)*/
}

#scrollToTopBtn { /*Стиль для кнопки Наверх*/
  animation: fadeIn 0.6s ease-in-out; /*Скорость появление и плавность*/
}

footer {
  background-color:rgb(25, 25, 25);
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

footer p{
  color:#ffffff;
  font-family: Roboto-Regular;
}

.footer-content { /*Сам размер блока*/
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links { /*Кнопки и футтере*/
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  padding-left: 20px; /* Смещаем список левее, добавляя отступ слева */
  font-family: Roboto-Regular;
}